body {
    padding-top: 70px;
    background-color: #223344;
}

.deletecomment {
	display: inline-block;
}

.previouscomments {
    display: inline-block;
    width: 90%
}

#scrape {
    margin: 8px 0px;
}